<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="padding-top:90px;" class="bg-light">

{% set url = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="">
        <a href="#" class="navbar-brand">
            <img src="{{ asset('assets/img/logo.png') }}" alt="logo jeu" width="60">
            RPG Quizz
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDrop" aria-controls="navbarDrop" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
        </button>
    </div>
    <div id="navbarDrop" class="navbar-collapse collapse">
    {% if app.user %}
        {% include 'logged.html.twig' %}
    {% else %}
        {% include 'anon.html.twig' %}
    {% endif %}
        <ul class="navbar-nav">
            <li class="nav-item mx-1">
                <a class="nav-link" href="#">{{ 'rules'|trans }}</a>
            </li>
            <li class="nav-item mx-1">
{#
                <a class="nav-link" href="{{ path('mentions_legales') }}">{{ 'about'|trans }}</a>
#}
            </li>
            <li class="nav-item mx-1">
{#
                <a class="nav-link" href="{{ path('cgu') }}">{{ 'cgu'|trans }}</a>
#}
            </li>
        </ul>
    </div>
</nav>

<br>

{% if app.user == false and url|length <= 1%}

    {% include 'anon_body.html.twig' %}

{% endif %}

{% block body %}{% endblock %}



{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}

</body>
</html>
